$textGreen: rgb(109, 184, 109);
.noResultContainer {
  background-color: black;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  h1 {
    grid-column: 3/6;
    grid-row: 2/3;
    justify-self: center;
    color: $textGreen;
    align-self: center;
  }
  h5 {
    cursor: pointer;
    color: $textGreen;
    grid-column: 3/6;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
  }
}
